@font-face {
    font-family: balatro;
    src: url(asset/balatro.otf);
}

body {
    background-color: #5b6ee1;
    font-family: "balatro";
    letter-spacing: 0.1rem;
    font-size: 20px;
    color: #ffffff;
}

.center {
    text-align: center;
}

.awesomebox {
    border: 5px solid #ffffff;
    padding: 5px;
    background-color: #4153b4;
}

.image {
    width: 95%;
    padding: 2.5%;
}

.topBar {
    position: fixed;
    background-color: #ffffffa3;
    width: 100%;
    /* height: 50px; */
    margin: 0px;
    top: 0px;
    left: 0px;
    text-align: center;
    overflow: hidden;
    word-spacing: -1em;
}

.topBar a {
    /* float: none; */
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}

.topBar a:hover {
    background-color: #ffffffff;
}

.topBar a.active {
    background-color: #5be15d;
}