@font-face {
    font-family: balatro;
    src: url(asset/balatro.otf);
}

body {
    background-color: #5b6ee1;
    font-family: "balatro";
    letter-spacing: 0.1rem;
    font-size: 20px;
    color: #ffffff;
}

.center {
    text-align: center;
}

.awesomebox {
    border: 5px solid #ffffff;
    padding: 10px;
    background-color: #4153b4;
}

.image {
    width: 95%;
    padding: 2.5%;
}